*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.head {
    font-weight: bold;
    padding: 1rem 3rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.head h1 {
    font-size: 4rem;
}

span {
    color: teal;
}

.nav-bar {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    max-width: 100%;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 100%;
}

li {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

.nav-bar .menu li a {
    text-decoration: none;
    color: black;
    max-width: 100%;
}

.nav-bar .menu li a:hover {
    text-decoration: none;
    border-bottom: 5px solid teal;
    border-radius: 4px;
    padding-bottom: 5px;
    transition: 0.5s;
}

.head .nav-bar .hamburger {
    display: none;
    width: 35px;
    height: 35px;
}

.nav-bar .delete {
    display: none;
    position: absolute;
    z-index: 10;
}

#Acceuil {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 2rem 3rem;
    align-items: center;
    max-width: 100%;
}

#Acceuil .bienvenue {
    padding: 10px;
    line-height: 1.9rem;
    max-width: 60%;
    padding-bottom: 10rem;
}

#Acceuil .bienvenue h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 3rem;
}

#Acceuil .bienvenue p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    max-width: 100%;
}

#Acceuil .bienvenue .buy, .voir {
    padding: 10px;
    background-color: teal;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

#Acceuil .bienvenue .buy:hover, .voir:hover {
    background-color: orangered;
    transition: 0.5s;
}

#Acceuil .card {
    max-width: 40%;
    display: block;
    text-align: center;
    
}

#Acceuil img {
    top: 0;
    transition: transform 0.5s ease;
    max-width: 100%;
}

#Acceuil  img:hover {
    transform: scale(1.1);
}
#Actualités {
    display: block;
    padding: 10px;
    max-width: 100%;
}

#Actualités h1 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 15px;
    padding-top: 10px;
}

#Actualités .actu {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    max-width: 100%;
}

.actu .box {
    text-align: center;
    border: solid 1px black;
    border-radius: 15px;
    max-width: 100%;
    padding: 5px;
    padding-bottom: 20px;
}

.box p {
    padding-top: 10px;
    padding-bottom: 20px;
}

.box img {
    max-width: 100%;
    padding: 5px;
    padding-bottom: 15px;
    border-radius: 15px;
    transition: transform 0.5s ease;
}

.box img:hover  {
    transform: scale(1.1);
}

#Actualités .actu .box .buy, .voir {
    padding: 10px;
    background-color: teal;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
}

#Actualités .actu .box .buy:hover, .voir:hover {
    background-color: orangered;
    transition: 0.5s;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#backToTopBtn:hover {
    background-color: teal;
}

#follow {
    text-align: center;;
    padding: 10rem 0;
}

#follow h1 {
    text-align: center;
    padding: 2rem;
}


#follow .Contact {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    justify-items: center;
    gap: 60px;
    align-items: center;
}

#follow .Contact .contacter{
    border: solid 1px black;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    padding: 10px;
}


#follow .Contact .contacter img  {
    border-radius: 15px;
    transition: transform 0.5s ease;
    padding-bottom: 30px;
    max-width: 100%;
}



#follow .Contact .contacter img:hover  {
    transform: scale(1.1);
}


#follow .Contact .contacter a img  {
    border-radius: 0;
    max-width: 50px;
}


#follow .Contact .contacter .suivre  {
display: flex;
max-width: 50%;
padding: 15px 0;

}

#follow .Contact .contacter .suivre img  {
    padding: 0 3px;
}



#apropos {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    margin-bottom: 5rem;
}

#apropos .compagnie,
.services, h2 {
    padding-bottom: 1.5rem;
    max-width: 100%;
}

#apropos .compagnie,
.services, p {
    line-height: 1.5rem;
}


#foot {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1.5rem 0;
    color: gray;
}

#foot a {
    text-decoration: none;
    color: darkblue;
    font-size: 1.1rem;
}

#foot a:hover {
    color: orangered;
    cursor: pointer;
}




@media (max-width: 1200px) {
   

    
}


@media (max-width: 1350px) {
    #Actualités .actu {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 400px);
    }
    #follow .Contact {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

}

@media (max-width: 1281px) {

    .head {
        padding: 1rem;
    }
        #Acceuil {
            padding: 5rem 1rem;
            padding-bottom: 1rem;
        }
        #Acceuil img {
            top: 0;
            max-width: 100%;
        }
    
    }

    @media (max-width: 1250px) {
        #follow .Contact {
            display: grid;
            grid-template-columns: repeat(3, 350px);
        }
    }

    @media (max-width: 1145px) {
        #follow .Contact {
            display: grid;
            grid-template-columns: repeat(3, 300px);
        }
    }

    @media (max-width: 997px) {
        
        #follow .Contact {
            display: grid;
            grid-template-columns: repeat(1, 400px);
        }

        #follow {
            padding-top: 5rem;
        }
    }


    @media (max-width: 911px) {

        #Acceuil {
            display: block;
            
        }
        #Acceuil .bienvenue {
            max-width: 100%;
        }
    
        #Acceuil .card {
            text-align: center;
            max-width: 100%;
        }
    
        #Acceuil img {
        
            top: 0;
            max-width: 80%;
        }
    
    }


    
@media (max-width: 900px) {
    .head {
        padding: 1rem;
    }

    #follow .Contact {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        gap: 10px;
    }

    #Acceuil {
        padding-bottom: 3rem;
    }

    #Acceuil .bienvenue {
        padding-bottom: 2rem;
    }

    #Acceuil .card {
        padding-top: 1rem;
    }
     
}


@media (max-width: 857px) {

    #apropos {
        display: block;
    }

    #apropos .compagnie {
        padding-bottom: 4rem;
    }
}

@media (max-width: 835px) {
    #Actualités .actu {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 400px);
    }

}



@media (max-width: 780px) {

    #Actualités .actu {
        display: grid;
        grid-template-columns: repeat(1, 370px);
    }

    #follow .Contact {
        display: grid;
        grid-template-columns: repeat(1, 370px);
    }
}


@media (max-width: 720px) {
    .head .nav-bar .menu {
        display: none;
        background-color: rgba(0, 128, 0, 0.208);
    }

    .head .nav-bar .menu li {
        padding: 10px;
    }
    .head .nav-bar .hamburger {
        display: block;
    }
    
.nav-bar .delete {
    display: none;
    position: relative;
    z-index: 10;
    width: 25px;
    height: 25px;
}

#Acceuil .bienvenue h1 {
    font-size: 1.8rem;
}

#Acceuil .bienvenue p {
    font-size: 1.2rem;
    line-height: 1.3rem;
}

}

@media (max-width: 500px) {
    #apropos {
        padding: 0 30px;
    }

    #Acceuil {
        padding-bottom: 5rem;
    }

    #Acceuuil .bienvenue {
        padding: 0 1rem;
    }


}

@media (max-width: 432px) {


    

    .head {
        padding: 1rem;
        padding-bottom: 1.5rem;
    }
    .head .nav-bar .menu {
        font-size: 0.8rem;
    }
    .head h1 {
        font-size: 2rem;
    }

    .head .nav-bar {
        font-size: 0.7rem;
    }
    #Acceuil {
        padding-top: 2rem;
        padding-left: 0;
        padding-right: 0;
        
    }
    #Acceuil .bienvenue {
    padding: 0 0.5rem;
        padding-top: 10px;
    }
    #Acceuil .bienvenue h1 {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }

    #Acceuil .bienvenue p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    
#Acceuil .bienvenue .buy, .voir {
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 3px;
}

#Actualités .actu {
    display: grid;
    grid-template-columns: repeat(1, 350px);
}

#follow .Contact {
    display: grid;
    grid-template-columns: repeat(1, 350px);
}

#Actualités h1 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

#foot {
    display: block;
    
}

#apropos {
    padding: 0 20px;
}
}

@media (max-width: 365px) {
    .head .nav-bar .menu {
        font-size: 0.6rem;
    }
}